<div class="row">
    
    <div  class="col s6 offset-s3">
      <h4>Enter new password</h4>

      {{#if error}}
        <p class="alert">{{error}}</p>
      {{/if}}

      <form action="/auth/password" method="post">
        <div class="input-field">
            <input id="password" type="password" class="validate" name='password' required> 
            <label for="password">New password</label>
            <span class="helper-text" data-error="wrong input"></span>
        </div>

        

        <input type="hidden" name="_csrf" value="{{@root.csrf}}">
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="token" value="{{token}}">

        <button class="btn btn-primary" type="submit">Reset</button>
      </form>
    </div>
</div>